@import 'variables/variables';
@import 'variables/fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-optical-sizing: auto;
}

body {
  overflow-x: hidden;
  background: var(--main-color);
}

body {
  overflow-x: clip;
}


.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  width: 100%;
}

input {
  &:focus {
    outline: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:hover {
    //-webkit-text-fill-color: gray !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input,
textarea,
button,
a,
svg,
svg path,
svg stroke {
  transition: all 0.3s;
}

p {
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-clamp5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 7;
  -webkit-line-clamp: 7;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
}

@media (max-width: 1240px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 952px;
  }
}

@media (max-width: 952px) {
  .container {
    max-width: 904px;
  }
}

@media (max-width: 904px) {
  .container {
    max-width: 856px;
  }
}

@media (max-width: 856px) {
  .container {
    max-width: 808px;
  }
}

@media (max-width: 808px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 735px;
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 600px;
  }
}


@media (max-width: 610px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 510px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 410px) {
  .container {
    max-width: 370px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 344px;
  }
}

@media (max-width: 350px) {
  .container {
    max-width: 320px;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}