@font-face {
  font-family: 'ImperialScript';
  src: url('src/shared/fonts/Imperial_Script/ImperialScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('src/shared/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed Light';
  src: url('src/shared/fonts/Roboto_Condensed/static/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed Medium';
  src: url('src/shared/fonts/Roboto_Condensed/static/RobotoCondensed-Medium.ttf') format('truetype');
}

:root {
  --font-imperial-script: 'ImperialScript', sans-serif;
  --font-roboto-condensed: 'Roboto Condensed', sans-serif;
  --font-roboto-condensed-light: 'Roboto Condensed Light', sans-serif;
  --font-roboto-condensed-medium: 'Roboto Condensed Light', sans-serif;
}
