@font-face {
  font-family: 'ImperialScript';
  src: url('src/shared/fonts/Imperial_Script/ImperialScript-Regular.ttf') format('ttf');
}

:root {
  --font-imperial-script: 'ImperialScript', sans-serif;
}
