.wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Great Vibes', cursive;
}

.textTopLeft {
  position: absolute;
  bottom: 77vh;
  left: 0;
  font-size: 210px;
  z-index: 2;
  font-family: var(--font-imperial-script);
  font-style: normal;
  font-weight: 400;
  color: var(--grey);

  @media(max-width: 1025px){
    font-size: 250px;
    top: -5%;
  }

  @media(max-width: 768px){
    font-size: 250px;
    top: -5%;
    left: -40px;
  }

  @media(max-width: 500px){
    font-size: 150px;
    bottom: 80vh;
    left: -20px;
  }
}

.textBottomRight {
  position: absolute;
  top: 68vh;
  right: 1rem;
  font-size: 220px;
  z-index: 2;
  font-family: var(--font-imperial-script);
  font-style: normal;
  font-weight: 400;
  color: var(--grey);

  @media(max-width: 1025px){
    font-size: 250px;
    top: 78vh;
  }

  @media(max-width: 768px){
    font-size: 190px;
    top: 80vh;
    right: 10rem;
  }

  @media(max-width: 500px){
    font-size: 190px;
    top: 80vh;
    right: 0rem;
  }

  @media(max-width: 375px){
    font-size: 150px;
    top: 80vh;
    right: 0rem;
  }
}

.graffiti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: auto;
  filter: blur(10px);
  z-index: 1;

  @media(max-width: 1025px){
    filter: blur(5px);
  }

  @media(max-width: 500px){
    filter: blur(3px);
    width: 100vw;
  }
}
