.main_cointainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  background: url('@shared/images/back/shopBack.png') no-repeat center center;
  background-size: cover;
  z-index: 0;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-imperial-script);
  font-weight: 400;
  font-size: 220px;
  line-height: 1;
  color: var(--grey);
  z-index: 1;
  white-space: nowrap;

  @media(max-width: 1025px){
    font-size: 140px;
  }

  @media(max-width: 600px){
    font-size: 70px;
  }
}

.information{
  padding: 120px 180px;

  @media(max-width: 1025px){
    padding: 60px 80px;
  }

  @media(max-width: 600px){
    padding: 42px 46px;
  }
}

.photo_container{
  display: flex;
  gap: 12px;
  margin-bottom: 34px;

  @media(max-width: 1025px){
    gap: 36px;
    margin-bottom: 20px;
  }

  @media(max-width: 700px){
    flex-direction: column;
  }
}

.photo{
  width: 100%;
  max-width: 520px;

  @media(max-width: 1025px){
    max-width: 310px;
  }

  @media(max-width: 700px){
    max-width: 510px !important;
  }
}

.text_container{
  flex-direction: column;
  text-align: right;
  display: flex;
  font-family: var(--font-roboto-condensed);
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.04em;
  color: var(--grey);
}

.category{
  font-family: var(--font-roboto-condensed);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -0.04em;
  color: var(--grey);
  margin-top: 20px;
  margin-bottom: 9px;
  text-align: left;
  align-self: flex-start;
  padding: 0 227px;

  @media(max-width: 1025px){
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0 77px;
  }

  @media(max-width: 700px){
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 16px;
    padding: 0;
    text-align: center;
    align-self: center;
  }
}

.category_information{
  padding: 20px 180px;
  gap: 60px;
  display: flex;

  @media(max-width: 1025px){
    padding: 20px 67px 0 67px;
    gap: 38px;
  }

  //@media(max-width: 900px){
  //    padding: 20px 67px 0 67px;
  //    gap: 38px;
  //  }

  @media(max-width: 700px){
    padding: 20px 180px;
    gap: 60px;
  }
}

.category_photo{
  width: 217px;
  height: 315px;

  @media(max-width: 1025px){
    width: 135px;
    height: 196px;
  }
}

.clothes{
  font-family: var(--font-roboto-condensed);
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.04em;
  color: var(--grey);
  text-align: center;
  margin-top: 9px;

  @media(max-width: 1025px){
    font-size: 11px;
    margin-top: 6px;
  }
}