.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  background: url('@shared/images/back/shopBack.png') no-repeat center center;
  background-size: cover;
  z-index: 0;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-imperial-script);
  font-weight: 400;
  font-size: 220px;
  line-height: 1;
  color: var(--grey);
  z-index: 1;
  white-space: nowrap;
}

.color1{
  height: 500px;
  background: #202020;
}

.color2{
  height: 500px;
  background: #E7161C;
}

.color3{
  height: 500px;
  background: white;
}

.color4{
  height: 500px;
  background: wheat;
}

.color5{
  height: 500px;
  background: gold;
}

.color6{
  height: 500px;
  background: plum;
}