.container{
  width: 551px;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(39.5px);
  padding: 23px;
  color: var(--grey);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}