.container {
  height: 70vh;
  background: var(--grey);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 98px;
  overflow: hidden;

  @media (max-width: 900px) {
    padding: 80px;
    height: auto;
  }

  @media (max-width: 500px) {
    padding: 45px 18px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  align-items: start;
  position: relative;
  z-index: 2;
  max-width: 980px;
  transform: translateX(-80px);

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: none;
    gap: 40px;
  }

  @media (max-width: 500px) {
    gap: 20px;
  }
}

.founderImg1 img {
  object-fit: cover;
  height: 350px;
  position: relative;
  z-index: 1;
}

.founderImg2 img {
  height: 500px;
  object-fit: cover;
  position: relative;
  z-index: 3;
}

.textBlock {
  align-self: start;
  font-family: var(--font-roboto-condensed);
  font-weight: 300;
  letter-spacing: -0.03em;
  font-style: normal;
  margin-left: 20px;

  h2 {
    margin-bottom: 20px;
    font-size: 70px;
    line-height: 69px;
    color: #FBFBFB;
  }

  p {
    font-size: 23px;
    line-height: 28px;
    color: rgba(251, 251, 251, 0.6);
  }

  @media (max-width: 900px) {
    margin-left: 0;
    text-align: center;
    margin-top: 120px;

    h2 {
      font-size: 55px;
      line-height: 52px;
    }

    p {
      font-size: 23px;
      line-height: 26px;
    }
  }

  @media (max-width: 500px) {
    margin-top: 80px;

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 15px;
      line-height: 18px;
      padding: 0 15px;
    }
  }
}

.decorativeText {
  position: absolute;
  left: -170px;
  bottom: -10px;
  z-index: 2;
  pointer-events: none;
  font-family: var(--font-imperial-script);
  font-style: normal;
  font-weight: 400;
  font-size: 306px;
  line-height: 322px;
  color: #242424;

  @media (max-width: 900px) {
    position: absolute;
    bottom: 80px;
    left: -280px;
    font-size: 260px;
    line-height: 160px;
    z-index: 2;
    width: 100%;
    text-align: center;
  }

  @media (max-width: 500px) {
    position: absolute;
    bottom: 40px;
    left: -100px;
    font-size: 140px;
    line-height: 160px;
    z-index: 2;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .imagesWrapper {
    position: relative;
    display: inline-block;
  }

  .founderImg2 img {
    width: 330px;
    height: auto;
    position: relative;
    z-index: 3;
    top: 120px;
    left: 70px;
  }

  .founderImg1 img {
    width: 250px;
    height: auto;
    position: absolute;
    top: 0px;
    left: -120px;
    z-index: 2;
  }
}

h2 br {
  display: inline;

  @media (max-width: 900px) {
    display: none;
  }
}


@media (max-width: 500px) {
  .founderImg2 img {
    width: 210px;
    height: auto;
    position: relative;
    z-index: 3;
    top: 77px;
    left: 60px;
  }

  .founderImg1 img {
    width: 150px;
    height: auto;
    position: absolute;
    top: 0px;
    left: -60px;
    z-index: 2;
  }
}
