.container{
  position: relative;
  height: 104.5vh;
  margin-top: 180px;

  @media(max-width: 1025px){
    margin-top: 30px;
    height: 41.5vh;
  }

  @media(max-width: 500px){
    margin-top: 40px;
  }
}

.backgroundText{
  position: absolute;
  top: -200px;
  right: 40px;
  z-index: 10;
  font-family: var(--font-imperial-script);
  font-weight: 400;
  font-size: 260px;
  color: var(--grey);
  pointer-events: none;
  user-select: none;

  @media(max-width: 1025px){
    font-size: 150px;
    top: -100px;
    right: 10px;
  }

  @media(max-width: 768px){
    font-size: 130px;
    top: -100px;
    right: 10px;
  }

  @media(max-width: 500px){
    font-size: 80px;
    top: -50px;
    right: 10px;
  }
}

.back{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.formWrapper {
  position: absolute;
  top: 50%;
  right: 110px;
  transform: translateY(-50%);
  z-index: 11;
  background: rgba(52, 52, 52, 0.40);
  backdrop-filter: blur(12px);
  padding: 35px 54px;
  border-radius: 47px;
  color: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media(max-width: 1025px){
    top: 50%;
    right: 35px;
    padding: 25px 24px;
    border-radius: 20px;
    width: 330px;
    gap: 16px;
  }

  @media(max-width: 768px){
    top: 54%;
    right: 35px;
    padding: 23px 21px;
    border-radius: 20px;
    width: 300px;
    gap: 16px;
  }

  @media(max-width: 500px){
    top: 34%;
    right: 18px;
    padding: 11px 13px;
    border-radius: 15px;
    width: 170px;
    gap: 10px;
  }
}

.formWrapper h3 {
  margin: 0;
  font-family: var(--font-roboto-condensed);
  font-weight: 400;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -0.08em;
  color: rgba(251, 251, 251, 0.65);

  @media(max-width: 1025px){
    font-size: 24px;
    line-height: 22px;
  }

  @media(max-width: 500px){
    font-size: 15px;
    line-height: 14px;
  }
}

.formWrapper p {
  font-family: var(--font-roboto-condensed-medium);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #FBFBFB;
  margin-top: -10px;
  margin-bottom: 40px;

  @media(max-width: 1025px){
    font-size: 19px;
    line-height: 28px;
    margin-top: -12px;
    margin-bottom: 25px;
  }

  @media(max-width: 500px){
    font-size: 11px;
    line-height: 15px;
    margin-top: -5px;
    margin-bottom: 0;
  }
}

.textarea {
  resize: none;
  height: 120px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;

  &::placeholder{
    font-family: var(--font-roboto-condensed);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.08em;
    color: rgba(251, 251, 251, 0.33);
  }

  @media(max-width: 500px){
    height: 70px;
    border-radius: 8px;
    padding: 8px;
    font-size: 10px;

    &::placeholder{
      font-size: 9px;
    }
  }
}

.button {
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: var(--font-roboto-condensed);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  &:hover {
    background-color: white;
    color: black;
  }

  @media(max-width: 500px){
    padding: 6px;
    border-radius: 7px;
    font-size: 10px;
  }
}
