.player {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 400px;
  position: absolute;
  bottom: 130px;
  left: 100px;
  gap: 16px;
  background: rgba(62, 62, 62, 0.51);
  border-radius: 35px;
  z-index: 10;

  @media(max-width: 900px){
    bottom: 330px;
    left: 40px;
    width: 420px;
    padding: 24px 21px;
    border-radius: 38px;
    gap: 21px;
  }

  @media(max-width: 500px){
    bottom: 230px;
    left: 15vw;
    width: auto;
    padding: 0;
    border-radius: 0;
    gap: 35px;
    background: transparent;
    align-items: center;
  }
}

.coverWrapper {
  position: relative;
}

.coverWrapper {
  position: relative;
}

.circle {
  display: none;

  @media(max-width: 500px){
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background-color: rgba(62, 62, 62, 0.51);
    border-radius: 50%;
    z-index: 0;
  }
}

.cover {
  position: relative;
  z-index: 1;
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s linear;

  @media(max-width: 900px){
    width: 104px;
    height: 104px;
  }

  @media(max-width: 500px){
    width: 92px;
    height: 92px;
    z-index: 0;
  }
}

.spin {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.centerHole{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  @media(max-width: 500px){
    width: 14px;
    height: 14px;
  }
}

.column{
  flex-direction: column;

  @media(max-width: 500px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.info {
  flex: 1;
}

.title {
  font-family: var(--font-roboto-condensed-light);
  font-weight: 300;
  font-size: 23px;
  letter-spacing: -0.03em;
  color: var(--background);

  @media(max-width: 500px){
    color: var(--grey);
    font-size: 19px;
  }
}

.artist {
  font-family: var(--font-roboto-condensed-medium);
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.03em;
  color: var(--background);
  margin-bottom: 2px;

  @media(max-width: 500px){
    color: var(--grey);
    font-size: 20px;
  }
}

.controls {
  display: flex;
  gap: 9px;

  button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }

    @media(max-width: 500px){
      color: var(--grey)
    }
  }
}
