.container{
  background: #FBFBFB;
}

.info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  @media(max-width: 700px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.left {
  display: flex;
  flex: none;

  @media(max-width: 700px) {
    width: 100%;
  }
}

.photo {
  height: 881px;
  object-fit: cover;

  @media(max-width: 1025px){
    height: 531px;
  }

  @media(max-width: 700px){
    height: auto;
  }
}

.right {
  flex: none;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--grey);

  @media(max-width: 1025px){
    max-width: 320px;
  }

  @media(max-width: 700px){
    padding: 0 15px;
    max-width: 100%;
  }
}

.desc{
  margin-bottom: 340px;
  font-family: var(--font-roboto-condensed);
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.04em;
  text-align: center;

  @media(max-width: 1025px){
    margin-bottom: 220px;
    font-size: 20px;
    line-height: 21px;
  }
}

.values{
  font-family: var(--font-roboto-condensed);
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  @media(max-width: 1025px){
    font-size: 10px;
    line-height: 13px;
  }
}

.name{
  margin-top: 70px;
  font-family: var(--font-roboto-condensed-medium);
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -0.04em;

  @media(max-width: 1025px){
    font-size: 22px;
    margin-top: 25px;
  }
}

.category_information{
  padding: 132px 76px;
  display: flex;
  justify-content: space-between;

  @media(max-width: 1025px){
    padding: 82px 42px;
  }

  @media(max-width: 700px){
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.category_information > div {
  @media (max-width: 700px) {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.category_photo{
  width: 290px;
  height: 292px;

  @media(max-width: 1025px){
    width: 150px;
    height: 150px;
  }

  @media (max-width: 700px) {
    width: 100%;
    height: auto;
    max-width: 160px;
  }
}

.clothes{
  font-family: var(--font-roboto-condensed);
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.04em;
  color: var(--grey);
  text-align: right;
  margin-top: 20px;

  @media(max-width: 1025px){
    font-size: 11px;
    margin-top: 6px;
  }
}
